name: Yarn Build, NPM and github pages deploy

on:
  release:
    types: [published]
  workflow_dispatch:

run-name: ${{ github.actor }} 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.11.x'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install
        shell: bash

      - name: Build
        run: yarn build
        shell: bash

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: build/docs/

  deploy-pages:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
